@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');


body {
  background-color: rgb(218, 225, 233);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

.container {
  margin: 30px auto;
  width: 400px;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

.ie-container {
  background-color: rgb(218, 225, 233);;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.ie-container > div {
  flex: 1;
  text-align: center;
}

.ie-container > div:first-of-type {
  border-right: 1px solid #dedede;
}
